<h1>過去問投稿</h1>


<%= form_for @reports do |f| %>
          <div class="form-group">
      
            <%= f.file_field :image%>
          </div>  
          <%= f.submit '投稿', class: 'btn btn-black btn-block' %>

 <% end %>